In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv("dataset\\dataset\\train\\boxes_transcripts_labels\\0b55f878-9dc7-478b-9bba-342056684452_document-5_page-1.tsv", sep=',', header = None)

In [16]:
df.head(15)

,0,1,2,3,4,5,6,7
0,0,0,430,288,453,326,1,OTHER
1,6,11,522,288,667,326,"Wages,",OTHER
2,13,17,679,288,764,326,"tips,",OTHER
3,19,23,776,288,880,326,other,OTHER
4,25,29,891,288,1014,326,comp.,OTHER
5,46,46,1272,288,1295,326,2,OTHER
6,52,58,1353,288,1500,326,Federal,OTHER
7,60,65,1512,288,1657,326,income,OTHER
8,67,69,1669,288,1729,326,tax,OTHER
9,71,78,1740,288,1909,326,withheld,OTHER
10,90,98,641,334,866,378,161590.28,box1WagesTipsAndOtherCompensations
11,148,155,1694,334,1894,378,41434.61,box2FederalIncomeTaxWithheld
12,158,158,430,445,453,484,3,OTHER
13,164,169,522,445,644,484,Social,OTHER
14,171,178,655,445,814,484,security,OTHER